# Database Application Base URL (e.g., https://ais-dev-[subdomain]-[project_number].europe-west2.run.app)
VITE_DB_APP_URL=

# SMTP Email server settings (for sending PDFs of web leads)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_FROM=cimpianrobert@crhardverklinika.com
